.manage-restaurants{
  padding: 24px 0;
  &__header{
    display: flex;
    justify-content: space-between;
    &__label{
      font-weight: 900;
      margin-bottom: 12px;
    }
    &--search-box{
      width: 300px;
      border-radius: 4px;
      margin-left: 10px;
      input{
        width: 100%;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid gray;
      }
    }

  }

}

@media screen and (max-width:768px) {
  .manage-restaurants{
    padding: 24px 12px;
    &__add-btn{
      padding: 50px;
    }
  }
}




